<div class="container">
  <h2  class="mt-5">Opciones</h2>
  <div class="row  mt-5">
    <div class="col-12 col-lg-2 mb-lg-0 mb-2">
      <button class="btn btn-dark me-2 "(click)="pageAddCourse()"> Agregar curso</button>
    </div>
  </div>
 <h2 class="mt-5"> Cursos</h2>
  <div class="row d-flex justify-content-center mt-5 ">
    <div class="col-11 table-responsive">
      @if (loaded) {
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <!--<th>#</th>-->
              <th>ID Curso </th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (item of data; track $index) {
            <tr>
              <td>{{item.id_curso}}</td>
              <td> {{item.nombre_curso}} </td>
              <td>{{item.descripcion}}</td>
              <td>
                <div class="d-flex justify-content-between">
                <button class="btn button1 m-2 m-lg-0" (click)="pageEditCourse(item.id_curso)">Editar</button>
                <button class="btn button2  m-2 m-lg-0" (click)="deleteCourses(item.id_curso)">Eliminar</button>
              </div>

              </td>
            </tr>

            }
          </tbody>

          <!-- <script src="customer.js"></script> -->
        </table>
      }

    </div>
  </div>

</div>
