<!-- <div class="row">
  <div class="col-2   m-3 col-sm-auto">
    <song-card></song-card>
   </div>

 <div class="col-2 m-3 col-sm-auto">

  <song-card></song-card>
 </div>
 <div class="col-2 m-3 col-sm-auto">

  <song-card></song-card>
 </div>

</div> -->
<div class="row mt-4">
  <div class="col-3">
    <shared-sidebar></shared-sidebar>
  </div>
  <div class="col mt-3">
    <!-- todo: aqui va la lista de canciones -->
  <component-list-card [data]="songs" [typeCard]=1 [idPage]=3></component-list-card>
  </div>

</div>
