<!-- <div class="row">
  @for (song of songs; track $index) {
    <div class="col-md-3 col-sm-6"> -->
      <!-- Quiere decir que cuando este en pantallas medianas ocupa 3 columnas y cuando este en peque;as 6 -->
     <!-- <song-card [song]="song"></song-card>
    </div>
  }

</div> -->
@if (data!=null ||data!=undefined) {
  <div class="row">
    @for (song of data; track $index) {
      <div class="col-2 m-1 col-sm-auto">
        <!-- Quiere decir que cuando este en pantallas medianas ocupa 3 columnas y cuando este en peque;as 6 -->
        <song-card [idAlbum]="song.album.id" [listArtist]="song.artists" [typeCard]="typeCard" [idPage]="idPage"
        [title]="song.name" [url]="song.album.images[0].url" [audioSrc]="song.preview_url" ></song-card>
      </div>
    }

  </div>
}@else {
  <div class="row">
    @for (album of albumes; track $index) {
      <div class="col-2 m-1 col-sm-auto">
        <song-card [idAlbum]="album.id" [listArtist]="album.artists" [typeCard]="typeCard" [idPage]="idPage"
        [title]="album.name" [url]="album.images[0].url" ></song-card>
      </div>
    }

  </div>
}
